.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid rgb(255, 215, 0);
  border-radius: 60px;
  padding: 15px;
  margin: auto;
  font-family: sans-serif;
  width: clamp(450px, 47vw, 700px);
  height: clamp(540px, 75vh, 600px);
  background: rgb(153,50,204);
}

.intro.hidden,
.main-div.hidden {
  display: none;
}

.intro {
  animation-name: animation;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

.intro-text {
  font-size: clamp(1.5rem, 2.3vw, 2.3rem);
  color: white;
  padding: 10px;
  margin-bottom: 30px;
}

.intro > ul > li {
  padding: 5px;
  /* color: darkgray; */
  margin: 5px 0;
}

.intro > button {
  margin-top: auto;
  background: rgb(0 255 255);
  min-height: 50px;
  width: clamp(150px, 12vw, 180px);
  font-size: clamp(15px, 1.2vw, 20px);
  border-radius: 14px;
  box-shadow: 5px 7px 7px orange ;
  cursor: pointer;
  transition: all 0.5s;
  padding: 5px 10px;
}

.intro > button > span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.intro > button > span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.intro > button:hover > span {
  padding-right: 25px;
}

.intro > button:hover > span:after {
  opacity: 1;
  right: 0;
}

#rel-info {
  font-size:  clamp(1rem, 2.5vh, 1.3rem);
  padding-left: 20px;
  padding-right: 20px;
  /* font-family: monospace; */
}

@-webkit-keyframes animation {
  0% {
    border-color: red;
  }
  25.0% {
    border-color: orange;
  }
  50.0% {
    border-color: rgb(255, 215, 0);
  }
  75.0% {
    border-color: purple;
  }
  100.0% {
    border-color: red;
  }
}

@keyframes animation {
  0% {
    border-color: red;
  }
  25.0% {
    border-color: green;
  }
  50.0% {
    border-color: rgb(255, 215, 0);
  }
  75.0% {
    border-color: purple;
  }
  100.0% {
    border-color: red;
  }
}


@media screen and (max-width: 1270px) {
  #rel-info {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 1100px) {
  #rel-info {
    font-size: 1.2rem;
  }

  .intro > button {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 780px) {
  .intro > button {
    margin-bottom: 20px;
    min-height: 40px;
  }

  #rel-info {
    font-size: 1.1rem;
  }
}
