
@media screen and (max-width: 1160px){
  /* .title{
    font-size: 40px !important;
  } */
}
body {
 background-color: blue;
}


.main-cont{
  display: flex;
  padding: 10px;
  justify-content: center;
}

.welcome{
  color: black;
  font-size: 30px;
  font-family: sans-serif;
  margin: 5px 0;
  width: fit-content;
  background-color: #C2B28F;
  border: 1px solid rgb(85, 107, 47);
  padding: 5px 130px;
  box-shadow: 0px 2px 2px 1px black;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
}

.main-div{
  display:  block;  
  border: 3px solid rgb(128 128 128);
  border-radius: 10px;
  height: 800px;
  width: 1200px;
  margin: 0 30px;
  padding: 5px;
  background-color: rgb(255 255 255 / 25%);
  box-shadow: 0 2px 3px 1px #E4D8B4;
}



.planets-controller{
  width: 191px;
  border: 3px solid rgb(255 0 0);
  margin: 5px;
  height: 654px;
  background-color: rgb(255 0 0 / 10%);
  border-radius: 4px;
  box-shadow: 0px 2px 2px 1px black;
}

.planets-name{
  color: rgb(131 183 153);
  text-align: center;
  padding: 5px;
  font-size: 20px;
  margin: auto;
  filter: brightness(1.2);
  font-family: sans-serif;
  text-shadow: 0px 2px 2px black;
}


.planets-list{
  color: white;
  overflow: scroll;
  border: 2px solid rgb(255 255 0);
  padding: 2px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  width: 157px;
  padding-left: 5px;
  line-height: 1.5;
  height: 605px;
  margin-left: 10px;
  background-color: rgb(255 255 0 / 10%);
  border-radius: 4px;
  box-shadow: inset 0 2px 2px 1px black;
  font-family: monospace;
  font-size: 16px;
}

.switch-controller{
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 8px;
}

.left-switch{
  border: 1px solid rgb(0 0 0);
  box-shadow: 0px 2px 2px 1px black;
  padding: 5px;
  margin-left: 35px;
  padding-top: 9px;
  background-color: #E86F68;
  border-radius: 3px;
}

.left-switch > label{
  display: block;
  color: #272324;
  text-align: center;
  font-family: serif;
  text-decoration: overline;
  text-decoration-color: rgb(0 133 255);
  padding-bottom: 5px;
  font-size: 22px;
  font-family: sans-serif;
}

.left-switch > button, .right-switch > button {
  border: 1px solid rgb(255 255 255 / 85%);
  box-shadow: 0 2px 2px 0px rgb(0 0 0);
  cursor: pointer;
}


.right-switch{
  border: 1px solid rgb(0 0 0);
  box-shadow: 0px 2px 2px 1px black;
  padding: 5px;
  margin-right: 35px;
  padding-top: 9px;
  background-color: #83B799;
  border-radius: 3px;
}

.right-switch > label{
  display: block;
  color: #272324;
  text-align: center;
  font-family: serif;
  text-decoration: overline;
  text-decoration-color: rgb(0 133 255);
  padding-bottom: 5px;
  font-size: 22px;
  font-family: sans-serif;
}

.dashboard{
  font-size: 28px;
  font-family: system-ui;
  border: 1px solid rgb(0 0 0);
  background-color: rgb(194 178 143);
  color: rgb(0 0 0);
  border-radius: 3px;
  box-shadow: 0px 2px 2px 1px black;
  padding: 6px 25px;
  height: fit-content;
  margin-top: 10px;
}

.planets-list > p {
  cursor: pointer;
  padding-left: 8px;
  border-radius: 3px;
}

.planets-list > p:hover {
  background: rgb(255 255 255 / 30%);
  border-radius: 5px;
}

.main-display{
  display: flex;
  justify-content: start;
}

.data-cont{
  padding: 5px;
}

.data-info{
  color: rgb(131 183 153);
  text-align: center;
  padding: 5px;
  font-size: 20px;
  margin: auto;
  filter: brightness(1.2);
  font-family: sans-serif;
  text-shadow: 0px 2px 2px black;
}




.other-info{
  color: rgb(131 183 153);
  text-align: center;
  padding: 5px;
  font-size: 20px;
  margin: auto;
  filter: brightness(1.2);
  font-family: sans-serif;
  text-shadow: 0px 2px 2px black;
}

.planet-data{
  height: 350px;
  width: 500px;
  border: 3px solid rgb(0 128 0);
  box-shadow: 0 2px 2px 1px black;
  border-radius: 3px;
}

.other-data{
  height: 286px;
  width: 500px;
  border: 3px solid rgb(0 128 0);
  padding-top: 2px;
  margin-top: 10px;
  box-shadow: 0 2px 2px 1px black;
  border-radius: 3px;
  
}

.spacecraft-info{
  width: 435px;
  border: 2px solid white;
  height: fit-content;
  margin: 5px;
  margin-left: 10px;
  box-shadow: 0 2px 2px 1px black;
  border-radius: 3px;
}

.speed-title{
  color: rgb(131 183 153);
  text-align: center;
  padding: 5px;
  font-size: 20px;
  margin: auto;
  filter: brightness(1.2);
  font-family: sans-serif;
  text-shadow: 0px 2px 2px black;
}

.speed{
  text-align: center;
  font-size: 22px;
  padding: 0 0 5px 0;
}

.personal-info{
  display: flex;
  justify-content: center;
  margin-top: 7px;
}

.personal-info > a {
  padding: 5px;
}



.personal-info > a > img {
  border-radius: 15px;
  width: 30px;
  height: 30px;
  background-color: white;
}
.personal-info > a > img:hover {
  box-shadow: 0px 1px 5px 5px;
}

.me{
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 17px;
  font-family: monospace;
}


.planet-data-static{
  width: 485px;
  height: 100px;
  border: 1px solid rgb(0 128 0);
  margin-left: 6px;
  display: flex;
  box-shadow: 0 2px 2px 1px black;
  border-radius: 3px;
  font-family: sans-serif;
}

.planet-mass{
  width: 156px;
  height: 89px;
  border: 1px solid rgb(100 149 237);
  margin: 5px;
  text-align: center;
  box-shadow: inset 0 2px 2px 1px black;
  border-radius: 3px;
}

.planet-mass > h6 {
  color: rgb(255 255 255);
  font-size: 19px;
  padding: 5px 0 0 0;
}

.planet-mass > p {
  color: rgb(255 165 0);
  font-size: 17px;
  padding-top: 10px;
  font-family: monospace;
}

.misc {
  width: 156px;
  height: 89px;
  border: 1px solid rgb(100 149 237);
  margin: 5px;
  text-align: center;
  box-shadow: inset 0 2px 2px 1px black;
  border-radius: 3px;
}

.misc > h6 {
  color: rgb(255 255 255);
  font-size: 19px;
  padding: 5px 0 0 0;
}

.misc > p {
  color: orange;
  font-size: 17px;
  padding-top: 10px;
  font-family: monospace;
}

.facility {
  width: 156px;
  height: 89px;
  border: 1px solid rgb(100 149 237);
  margin: 5px;
  text-align: center;
  overflow: scroll;
  box-shadow: inset 0 2px 2px 1px black;
  border-radius: 3px;
}

.facility > h6 {
  color: rgb(255 255 255);
  font-size: 19px;
  padding: 5px 0 0 0;
}

.facility > p {
  color: orange; 
  font-size: 17px;
  padding-top: 8px;
  font-family: monospace;
}

.static-info{
  margin: 5px;
  border: 3px solid rgb(184 134 11);
  width: 460px;
  box-shadow: 0 2px 2px 1px black;
  border-radius: 3px;
}

.solar-system-stats{
  border: 2px solid rgb(240 128 128);
  width: 436px;
  height: 500px;
  margin: 5px 10px 5px 10px;
  box-shadow: 0 2px 2px 1px black;
  border-radius: 3px;
  font-size: 25px;
  text-align: center;
}


.source-info{
  width: 435px;
  height: 65px;
  border: 2px solid rgb(245 245 220);
  margin: 6px 10px 0 10px;
  box-shadow: 0 2px 2px 1px black;
  border-radius: 3px;
}

.source-title{
  color: rgb(131 183 153);
  text-align: center;
  padding: 5px;
  font-size: 20px;
  margin: auto;
  filter: brightness(1.2);
  font-family: sans-serif;
  text-shadow: 0px 2px 2px black;
}

.source-name{
  text-align: center;
}

.source-name > a{
  color: rgb(255 255 255);
  
  text-decoration: none;
  font-size: 19px;
}

.source-name > a:hover{
  color: #E2CD6D;
}

.solar-title-cont{
  color: rgb(131 183 153);
  text-align: center;
  padding: 5px;
  font-size: 20px;
  margin: auto;
  filter: brightness(1.2);
  font-family: sans-serif;
  text-shadow: 0px 2px 2px black;
}



.our-solar{
  font-family: monospace;
  color: rgb(233 150 122);
  padding: 10px 5px 0 5px;
  line-height: 1.1;
  text-indent: 0px;
  margin-top: 20px;
}

.our-solar > p {
  padding: 5px;
  color: rgb(240 248 255);
  font-family: monospace;
}

.solar-system-stats > button{
  background-color: rgb(232 111 104);
  outline: none;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 33px; 
  cursor: pointer;
}


.solar-system-stats > button:active { 
  background-color: #83B799;
  box-shadow: inset 0 2px 2px 0px rgb(0 0 0);
}